.banner_all {
    background-image: url(../img/about.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.banner_p p:first-child {
    margin-top: 135px;
}


.third_notif {
    width: 150px;
    max-width: 350px;
    min-width: 250px;
    height: auto;
    background-color: #C9E5FF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.third_notif:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.third_notif i {
    background-color: white;
    color: #057AE7;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-right: 10px;
    font-size: 15px;
}

.third_notif p {
    font-size: 15px;
    font-weight: 550;
    color: #057AE7;
    margin: 0;
    line-height: 1.2;
    flex: 1;
}

.third_card span {
    color: #535353;
    font-size: 18px;
    font-weight: 600;

}

@media screen and (max-width: 600px) {
    .third_notif {
        max-width: 100%;
        padding: 8px 10px;
    }

    .third_notif i {
        width: 35px;
        height: 35px;
        font-size: 18px;
    }

    .third_notif p {
        font-size: 14px;
    }
}

@media (max-width: 1200px) {
    .inputs {
        width: 95%;
    }
}