.banner {
    text-align: center;
    background-image: url(../img/service.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
